<!-- templates/navbar.html -->
<nav class="top-controls-container">
    <div class="block-selector-box">
      <select id="mainSelectBlock">
        <option value="East_Block">East Block</option>
        <option value="Central_Block">Central</option>
        <option value="West_Block">West</option>
        <option value="ALL" selected>Semua Blok</option>
      </select>
    </div>
  
    <div class="search-box">
      <input id="searchBox" type="text" placeholder="🔍 Cari ID...">
    </div>
  </nav>